.whole-calculator {
  width: fit-content;
  margin: auto;
  margin-top: 50px;
  background-color: #352f44;
  border-radius: 20px;
  padding: 15px 10px;
  color: #faf0e6;
}

.screen {
  background-color: #5c5470;
  position: relative;
  min-height: 80px;
  border-radius: 20px;
  padding: 10px 15px;
  text-align: right;
  max-width: 244px;
  overflow-x: scroll;
}
.expression {
  min-height: 40px;
  margin: 0;
}

.button-card {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  width: fit-content;
  padding: 20px;
}

.operator-card {
  display: grid;
  padding: 20px 0;
  gap: 20px;
}

.button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #b5a1a1;
}

.number {
  background-color: #4db0f1;
}

.operator {
  background-color: #f17d71;
}

.equals {
  background-color: #de3b29;
}

.C {
  background-color: #ec8909;
}
